<h1> Dettagli autore</h1>


    
     Nome:   {{ autore.nome }}</br> Età: {{autore.eta}}</br>
        
</br>
</br>

 


    
<form action='/tornaHome' method='post' >
    <div> <button type='submit' name='backName2' > << vai alla home</button> </div>
</form>
    
    
